body, a, p, span {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

a:hover {
    text-decoration: underline;
}

main {
    margin-top: 200px;
}

div input {
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    text-align:center;
    margin-top: 25px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    display: inline-block;
    border: 1px solid #f2f2f2;;
    background-color: #f2f2f2;
}

input[type="button"]:hover {
    color: #000000;
    border: 1px solid #5F6368;
}

.fooLinks {
    padding-left: 27px;
}

#appsNav {
    position: fixed;
    top: 20px;
    right: 25px;
}

#appsNav .botao {
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4387fd;
    font-weight: bold;
}

#appsNav a {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

#appsNav li {
    display: inline;
    padding-left: 15px;
}

#appsNav ul {
    list-style-type: none; /* Removes the bullets. A navigation bar does not need list markers */
    margin: 0; /* to remove browser default settings */
    padding: 0; /* to remove browser default settings */
}

#buttons {
    margin-top: 20px;
    position: relative;
}

#button1 {
    position: absolute;
    right: 50%;
    margin: 20px;
    margin: 11px 4px;
}

#button2 {
    position: absolute;
    left: 50%;
    margin: 11px 4px;
}

#country {
    font-size: 15px;
    padding-left: 27px;
}


#footer {
    color: rgba(0,0,0,.54);
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

#footer span a {
    padding-left: 27px;
    font-size: 13px;
}

#fooRight {
    float: right;
    margin-right: 30px;
}

#links {
    border-top: 1px solid #e4e4e4;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchForm {
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#searchInput {
    width: 582px;
    padding: 6px;
    border-radius: 24px;
}

